body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    gap: 50px;
}

* {
    --primary-color: rgb(112, 27, 202);
}

#menuContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#menuContainer img { 
    margin-bottom: 20px;
}

#menuContainer input {
    background-color: black;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#menuContainer button {
    padding: 5px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}

#menuContainer .menu-group-bottom {
    display: flex;
    justify-content: space-between;
}

#menuContainer .menu-group-bottom p {
    color: var(--primary-color);
    cursor: pointer;
}

/* leaderboard */

#leaderboardContainer {
    display: none;
    width: 300px;
    height: auto;
}

#leaderboardContainer table {
    border-collapse: collapse;
    width: 100%;
}

#leaderboardContainer table tr th{
    border: 1px solid white;
    padding: 10px;

}

#leaderboardContainer table tr td{
    border: 1px solid white;
    padding: 10px;
}

/* instruction */

#instructionContainer {
    display: none;
    position: absolute;
    background-color: black;
    border: 1px solid white;
    padding: 10px 20px;
    align-items: start;
    transform: scale(0.8);
    opacity: 0.5;
}

.hidden {
    display: flex !important;
    opacity: 1 !important;
}


#instructionContainer #closeInstructionBtn {
    border: 1px solid white;
    padding: 20px;
    cursor: pointer;
}

/* game */

#gameContainer { 
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameContainer .game-stats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.game-stats .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#liveStatus {
    font-size: 12px;
}

/* canvas */

canvas {
    border: 1px solid white;
}

#timerStatus {
    background-color: #470000;
    border: 1px solid red;
    border-radius: 15px;
    padding: 5px;
    
}

#hintButton {
    cursor: pointer;
    font-size: 12px;
}